.hidden-column-menu {
    display: none;
    flex-direction: column;
    max-width: 500px;
    position: center;
    align-items: center;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

body {
    height: 95%;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: large;
}

.dropdown-row * {
    margin: 10px;
}

.dropdown-row {
    align-items: center;
}

.hidden-column-menu table tr,  .hidden-column-menu table td {
    padding: 5px;
}

.hidden-column-menu table {
    margin: 10px;
}

.large-font {
    font-size: 18px;
}
